.forgotcomponent {
  // height: 100vh;
  // background-color: #e2d8ce;
  .forgot-password {
    display: flex;
    // padding: 50px 0px 0px 20px;
    .L-img {
      img {
        margin-right: 100px;
        height: 500px;
        width: 700px;
        margin-top: 100px;
      }
    }
    .R-form {
      height: 350px;
      width: 450px;
      padding: 20px 10px 0px 70px;
      margin: 180px 30px 0px 0px;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 0px 0px 5px 5px #9cc3c5;

      .first {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 40px;
        color: #19376d;
      }
      .second {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 40px;
        color: #19376d;
      }

      input {
        border-color: #146c94;
        padding: 10px 20px 10px 0px;
        margin: 10px 20px 10px 0px;
        border-color: #146c94;
        width: 300px;
        font-size: 17px;
        border-style: none none solid none;
      }
      .btn {
        margin: 20px 0px 0px 0px;
        padding: 10px 135px 10px 135px;
        font-size: 20px;
        border-radius: 9px;
        background-color: #146c94;
        color: #fff;
        border-style: none;
      }
      .btn2 {
        margin: 20px 0px 0px 90px;
        border-style: none;
        font-size: 20px;

        background-color: white;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      }
    }
  }
}
