<div class="forgotcomponent">
  <div class="forgot-password">
    <div class="L-img">
      <img src="../../../../assets/forgotpassword1.jpg">
    </div>
    <div class="R-form">
      <h1 class="first">Forgot</h1>
      <h1 class="second"> Your Password?</h1>
      <form [formGroup]="formGroup">
        <input type="email" formControlName="email" placeholder="Email Address" required matInput name="email"
          (ngModelChange)="emailError()" [(ngModel)]="register.email">
        <br>
        <div *ngIf="displayemail"><small [hidden]="formGroup.valid" style="color: red;"> Email required</small>
        </div>
        <mat-error *ngIf="
      formGroup.controls['email'].hasError('email') &&
      !formGroup.controls['email'].hasError('required')
    ">
          Please enter a valid email address
        </mat-error>

      </form>
      <button type="button" class="btn" (click)="getForgotPassword(register.email)">Next</button><br>
      <button type="button" class="btn2" routerLink="/">Back to Login</button>

    </div>
  </div>
</div>
