.reset-password {
  display: flex;
  .RL-img {
    .img {
      margin-top: 50px;
      height: 600px;
      width: 700px;
    }
  }
  .RR-form {
    height: 350px;
    width: 450px;
    padding: 20px 10px 0px 70px;
    margin: 180px 30px 0px 100px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 5px #c7dfe0;
    .text1 {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 40px;
      padding-bottom: 10px;
      color: #19376d;
    }
    .text2 {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 40px;
      // font-weight: bold;
      color: #19376d;
      // padding-bottom: 40px;
    }
    input {
      border-color: #146c94;
      padding: 10px 20px 10px 0px;
      margin: 10px 20px 10px 0px;
      border-color: #146c94;
      width: 300px;
      font-size: 17px;
      border-style: none none solid none;
    }
    .btn-reset1 {
      padding: 10px 15px 10px 15px;
      border-style: none;
      background-color: #146c94;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-size: 20px;
      color: white;
      border-radius: 9px;
      margin-top: 10px;
    }
    .btn-reset2 {
      border-style: none;
      padding: 10px 15px 10px 15px;
      background-color: #bcc2c5;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-size: 20px;
      color: white;
      border-radius: 9px;
      margin-top: 10px;
      margin-left: 100px;
    }
  }
}
