<div class="reset-password">
  <div class="RL-img">
    <img class="img" src="../../../../assets/reset password.jpg">
  </div>
  <div class="RR-form">
    <h1 class="text1"> Reset </h1>
    <h1 class="text2">Your Password</h1>
    <form [formGroup]="formGroup">
      <!-- <input type="text" placeholder="Email Address" [(ngModel)]="home.email" > -->
      <input [type]="changeTypepassword?'password':'text'" placeholder="New Password" formControlName="password"
        name="password" [(ngModel)]="register.password" (ngModelChange)="PasswordError()">
      <div id="vis" [ngSwitch]="color" (click)="visible()">
        <p *ngSwitchCase=true><img src="../../../../assets/hide.png"></p>
        <p *ngSwitchCase=false><img src="../../../../assets/show.png"></p>
      </div>
      <div>
        <mat-error
          *ngIf="formGroup.controls['password'].hasError('required') && !formGroup.controls['password'].untouched">Reqiured</mat-error>
        <mat-error *ngIf="formGroup.controls['password'].hasError('pattern')">Enter a valid Password</mat-error>
      </div>



      <input [type]="changeTypeconfirmpassword?'password':'text'" placeholder="Confirm Password"
        formControlName="confirmPassword" name="confirmpassword" (ngModelChange)="confirmPasswordError()">
      <div id="vis" [ngSwitch]="colord" (click)="cpvisible()">
        <p *ngSwitchCase=true><img src="../../../../assets/hide.png"> </p>
        <p *ngSwitchCase=false><img src="../../../../assets/show.png"></p>
      </div>
      <!-- <div *ngIf="passwordMatchError">
          Password does not match
        </div> -->
      <div>
        <mat-error
          *ngIf="formGroup.controls['confirmPassword'].hasError('required') && !formGroup.controls['confirmPassword'].untouched">Reqiured</mat-error>
        <mat-error *ngIf="formGroup.controls['confirmPassword'].hasError('pattern')">Enter a valid
          Password</mat-error>
      </div>


      <br>
    </form>

    <button type="submit" [hidden]="!formGroup.valid" class="btn-reset1"
      (click)="updatePassword()" (click)="sweetalert()">Continue</button>
    <button type="button" class="btn-reset2" routerLink="/AfterRegister">Cancel</button>
  </div>
</div>
