<mat-toolbar>
  <img src="../../../assets/JSW_Sword.jpg ">
  <h2>ONE VIEW Monitoring of Gas DETECTORS</h2>
  <img src="../../../assets/jsw.png ">
</mat-toolbar>
<mat-tab-group >
  <mat-tab label="STATUS" [ngClass]="'custom-tab-class'" id="status">
    <div class="card-flex">
      <mat-card class="example-card">
        <mat-card-header
          style="background-color: blue; color: white; justify-content: center"
        >
          <mat-card-title>Total fixed Detectors</mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding: 30px">
          <p>115</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header
          style="
            background-color: rgb(41, 218, 41);
            color: white;
            justify-content: center;
          "
        >
          <mat-card-title>Online Detectors</mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding: 30px">
          <p>100</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header
          style="background-color: red; color: white; justify-content: center"
        >
          <mat-card-title>Offline Detectors</mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding: 30px">
          <p>15</p>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- moniter table -->
    <div class="table-mointer-flex">
      <div class="tables">
        <table mat-table [dataSource]="mydata" class="mat-elevation-z8">
          <ng-container matColumnDef="slno">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.slno}} </td>
          </ng-container>
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
          </ng-container>
          <ng-container matColumnDef="ppm">
            <th mat-header-cell *matHeaderCellDef> PPM </th>
            <td mat-cell *matCellDef="let element"> {{element.ppm}} </td>
          </ng-container>
          <ng-container matColumnDef="icons">
            <th mat-header-cell *matHeaderCellDef> View Graph </th>
            <td mat-cell *matCellDef="let element"> <mat-icon (click)="viewGraph(element.location)"> bar_chart</mat-icon></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <div class="mitigation-alert">
        <h3><span>NEED ATTENTION FOR MITIGATION</span></h3>
        <!-- card values from table -->
        <div class="mitigation-alert-wrap">
          <ng-container *ngFor="let item of mydata">
              <mat-card class="card-alert">
                <mat-card-header>
                  <mat-card-title>ALERT:</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>{{item.ppm}}</p>
                  <span>{{item.location}}</span>
                </mat-card-content>
              </mat-card>
          </ng-container>
          <!-- <mat-card class="card-alert">
              <mat-card-content style="padding: 30px">
                <p>100</p>
              </mat-card-content>
            </mat-card> -->
          <!-- <div class="cards">
            <mat-card class="card-alert">
              <mat-card-content style="padding: 30px">
                <p>115</p>
              </mat-card-content>
            </mat-card> -->
            <!-- <mat-card class="card-alert">
              <mat-card-content style="padding: 30px">
                <p>15</p>
              </mat-card-content>
            </mat-card>
          </div> -->
          <!-- <div class="cards">
            <mat-card class="card-alert">
              <mat-card-content style="padding: 30px">
                <p>15</p>
              </mat-card-content>
            </mat-card>
          </div> -->
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="CALIBRATION">
    <div class="card-flex">
      <mat-card class="example-card">
        <mat-card-header
          style="background-color: blue; color: white; justify-content: center"
        >
          <mat-card-title>TOTAL FIXED DETECTORS</mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding: 30px">
          <p>115</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header
          style="
            background-color: rgb(41, 218, 41);
            color: white;
            justify-content: center;
          "
        >
          <mat-card-title>CALIBRATION DONE</mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding: 30px">
          <p>100</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header
          style="background-color: red; color: white; justify-content: center"
        >
          <mat-card-title>CALIBRATION DUE</mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding: 30px">
          <p>15</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-flex">
      <mat-card class="example-card">
        <mat-card-header
          style="background-color: blue; color: white; justify-content: center"
        >
          <mat-card-title>TOTAL PORTABLE DETECTORS</mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding: 30px">
          <p>115</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header
          style="
            background-color: rgb(41, 218, 41);
            color: white;
            justify-content: center;
          "
        >
          <mat-card-title>TOTAL PORTABLE DETECTOR DONE </mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding: 30px">
          <p>100</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header
          style="background-color: red; color: white; justify-content: center"
        >
          <mat-card-title>TOTAL PORTABLE DETECTOR DUE</mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding: 30px">
          <p>15</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
